body {    height: 646px;
}
.auto-style1 {
    text-align: center;
    background-color :rgb(92, 9, 9);
    color : rgb(255, 255, 255);

}
#first {
    border-style :solid;
    border-color: rgb(255, 216, 0);
    width: 245px;
    margin-left: 511px;
}
#div1 {
    border-style: solid;
    background-color: rgb(15, 107, 137);
    margin-left: 25px;
    float : left;
    height: 296px;
    width: 355px;
    margin-top: 0px;
}
#div2 {
    border-style: solid;
    background-color: rgb(15, 107, 137);
   

    height: 304px;
    width: 343px;
    margin-left: 553px;
    margin-bottom: 7px;
    margin-top: 0px;
}